.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 40rem;

    & label {
        display: block;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    & input {
        display: block;
        width: 100%;
        border: 1px solid rgb(213, 213, 213);
        padding: 0.15rem;
        margin-bottom: 0.5rem;
        font: inherit;
    }

    & input:focus {
        outline: none;
        border-color: #206799;
    }
  }
  