.button {
    font: inherit;
    border: none;
    background: #0995c0;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    }
  
.button:hover,
.button:active {
    background: #27e8be;
}

.button:focus {
    outline: none;
}